.posts-container {
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust gap between cards */
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
/*    max-height: 65%;*/
  }
  .card-image{
    max-width: 100%;
    max-height: 100%;
  }

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the container to the full viewport height */
}

.followers {
  cursor: pointer;
  color: blue;
}

.field_required{
  color: red;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Post Header */
.post-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

.post-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-weight: bold;
}

.post-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-actions p {
  margin-right: 10px; /* Adjust spacing as needed */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.update-button{
  color: white !important;
}