.posts-container {
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Adjust gap between cards */
  }
  
  .card {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .card-image{
    max-height: 250px;
  }